$black: #00171F;
$white: #fff;

$blue-100: #2C324D;
$blue-80: #1C75BA;
$blue-40: #00A7E1;
$blue-20: #E9F3FC;

$gray-80: #707070;
$gray-60: #AAAAAA;
$gray-40: #D8D8D8;
$gray-30: #EAEAEA;
$gray-20: #F5F5F5;